<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
<h1 class="text-9xl">Edit Your Posts</h1>
    <form method="post" action="/update/<%= post._id %>">
        <textarea class="mb-5 bg-slate-500 w-1/3 p-5 vlock" name="content" placeholder="OLd Posts"
            id=""><%= post.content %></textarea>

    
        <input class="block bg-yellow-500 hover:bg-pink-100 rounded-lg p-2 w-1/8" type="submit"
            value="Edit Your Post">
    </form>
          
                   

</body>

</html>