<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full min-h-screen bg-violet-500">
        <h2 class="text-3xl mb-5">Create a Account</h2>
        <a href="/login" class="bg-green-500">Login </a>
        <form action="/register" method="post" class="flex flex-col gap-5 justify-center items-center p-5 text-yellow">
            <input class="bg-pink-500 rounded-lg p-2 text-lime w-1/4" type="text" placeholder="name" name="name">
            <input class="bg-pink-500 rounded-lg p-2 text-lime w-1/4" type="text" placeholder="username" name="username">
            <input class="bg-pink-500 rounded-lg p-2 text-lime w-1/4" type="text" placeholder="email" name="email">
            <input class="bg-pink-500 rounded-lg p-2 text-lime w-1/4" type="text" placeholder="password" name="password">
            <input class="bg-pink-500 rounded-lg p-2 text-lime w-1/4" type="number" placeholder="age" name="age">
            <input class="bg-pink-500 rounded-lg p-2 text-lime w-1/8 hover:bg-red-500" type="Submit" value="Create your account with us" name="Create">
        </form>
      =
        
        
    </div>
    </div>
</body>
</html>